<%- include('header'); -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur deserunt mollitia nisi voluptas quos porro, rem debitis cum, ducimus reprehenderit quibusdam accusamus quam accusantium commodi omnis eius quaerat laborum ullam!</p>

<%- include('footer'); -%> 